<%= erb :'partials/_full_nav' %>

<div class="container-fluid">
  <h1><%= @user.username %>'s Favorites</h1>
</div>

<div class="container-fluid">
  <% @user.sort_favorited_tweets.each do |fav_tweet| %>
    <div class="container-fluid">
      <div class="panel panel-primary col-md-6 col-md-offset-3">
        <div class="panel-body">
          <img src="<%= fav_tweet.profile_pic_url %>" alt="Profile Picture" class="img-rounded" id="profile-pic">
          <h2><%= fav_tweet.user_actual_name %> <small>(@<%= fav_tweet.user_screen_name %>)</small></h2>
          <p><%= fav_tweet.tweet_time %></p> 
          <p class="lead"><%= fav_tweet.text %></p>
          <% if fav_tweet.get_comments(@user.id) %>
            <% fav_tweet.get_comments(@user.id).each do |comment| %>
              <div class="container-fluid">
                <div class="panel panel-default col-md-12">
                  <div class="panel-body">
                    <p><%= comment.content %></p>
                    <p><small>Posted by <%= comment.user.username %></small></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <% if logged_in? %>
            <div class="container-fluid ">
              <form action="/favorites/<%= fav_tweet.get_favorite_id(@user.id) %>/comments/new" method="get">
                <button type="submit" class="btn btn-primary">Add Comment</button>
              </form>
            </div>
          <% end %>
          <% if logged_in? && current_user.id == @user.id %>
            <div class="container-fluid col-md-offset-10">
              <form action="/favorites/<%= fav_tweet.get_favorite_id(@user.id) %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger">DELETE</button>
              </form>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
