<%= erb :'partials/_full_nav' %>

<div class="container-fluid">
  <h1>Enter a username below</h1>
</div>

<div class="container-fluid">
  <form class="form-inline" action="/tweets" method="post">
    <div class="form-group">
      <input class="form-control" type="text" name="username" placeholder="Twitter Username">
    </div>

    <input class="btn btn-primary" type="submit" value="Search">
  </form>
</div>

<%= erb :'partials/_errors' %>

<div class="container-fluid">

  <% if @tweets && !@tweets.empty? %>
    <div class="row center">
      <div class="col-md-1 col-md-offset-4">
        <img src="<%= @tweets.first.profile_pic_url %>" alt="Profile Picture" class="img-rounded" id="profile-pic">
      </div>
      <div class="col-md-2">
        <h2><%= @tweets.first.user_actual_name %> <small>(@<%= @tweets.first.user_screen_name %>)</small></h2>
      </div>
    </div>

    <% @tweets.each do |tweet| %>
      <div class="container-fluid">
        <div class="panel panel-default col-md-6 col-md-offset-3">
          <div class="panel-body">
            <p><%= tweet.tweet_time %>: <%= tweet.text %></p>
            <% if logged_in? %>
              <form action="/tweets/<%= tweet.id %>/favorites" method="post">
                <button type="submit" class="btn btn-link">
                  <% if current_user.favorited?(tweet) %>
                    <i class="glyphicon glyphicon-heart favorited"></i>
                  <% else %>
                    <i class="glyphicon glyphicon-heart not-favorited"></i>
                  <% end %>
                </button>
              </form>
             <% end %> 
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="container col-md-4 col-md-offset-4">
      <p class="text-danger text-center bg-danger">No tweets to display.</p>
      <iframe src="https://giphy.com/embed/5cBv80akRSOLS" width="300" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/sloth-look-5cBv80akRSOLS">via GIPHY</a></p>
    </div>
  <% end %>  
</div>

<!-- <footer class="footer">
  <p class="text-muted text-center">Mediocritter - © 2017</p>
</footer> -->
