<nav class="navbar navbar-inverse bg-primary justify-content">
  <a class="navbar-brand" href="/">  
    <img id="sloth-face" src="sloth_face.png" class="d-inline-block align-top">
  </a>
  <a class="navbar-brand" href="/">Mediocritter</a>
  <ul class="nav navbar-nav navbar-left">
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>
</nav>

<div class="container-fluid">
  <h1>Enter a username below</h1>
</div>

<div class="container-fluid">
  <form class="form-inline" action="/tweets" method="post">
    <div class="form-group">
      <input class="form-control" type="text" name="username" placeholder="Twitter Username">
    </div>

    <input class="btn btn-primary" type="submit" value="Search">
  </form>
</div>

<div class="container-fluid">
  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>

  <% if !@tweets.empty? %>
    <div class="row center">
      <div class="col-md-1 col-md-offset-4">
        <img src="<%= @tweets.first.profile_pic_url %>" alt="Profile Picture" class="img-rounded" id="profile-pic">
      </div>
      <div class="col-md-2">
        <h2><%= @tweets.first.user_actual_name %> <small>(@<%= @tweets.first.user_screen_name %>)</small></h2>
      </div>
    </div>

    <% @tweets.each do |tweet| %>
      <div class="container-fluid">
        <div class="panel panel-default col-md-6 col-md-offset-3">
          <div class="panel-body"><%= tweet.tweet_time %>: <%= tweet.text %></div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="container-fluid">
      <p>No tweets to display.</p>
    </div>
  <% end %>  
</div>

<footer class="footer">
    <p class="text-muted text-center">Mediocritter - © 2017</p>
</footer>
